{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5 text-center">
        <h1>AAAIIIIIIEEEEEEE!!!!!!!!!</h1>
        <p>Même joueur joue encore!!!! Veuillez recommencer votre demande mais correctement cette fois-ci</p>
        <a href="{{ path('sortie') }}" class="btn btn-primary">Retour à l'accueil</a>
    </div>
{% endblock %}
