{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5 text-center">
        <h1>OOOPs !!!</h1>
        <p>Une erreur inattendue est survenue. Notre équipe de super dev a été informée. Veuillez patienter!!!!!!!</p>
        <a href="{{ path('sortie') }}" class="btn btn-primary">Retour à l'accueil</a>
    </div>
{% endblock %}
