{% extends 'base.html.twig' %}

{% block body %}
    <h1>Charger un fichier d'utilisateurs</h1>

    <div class="row justify-content-center">
        <div class="col-4">

            {{ form_start(formCsv, {'attr': {'enctype': 'multipart/form-data'}}) }}
            {{ form_row(formCsv.csv) }}
            <button class="btn btn-success">Importer</button>
            {{ form_end(formCsv) }}


        </div>
    </div>
{% endblock %}
