{% extends 'base.html.twig' %}

{% block title %}Hello SortieController!{% endblock %}

{% block body %}
<section>
    <div><label>Date du jour : </label> </div>
    <div><label>Participant : </label></div>
</section>

 <h2>Filtrer les sorties</h2>
    <div><label>Site : </label><select> </select> </div>
    <div><label>Le nom de la sortie contient : </label><input type="search"></div>
    <div><label>Entre : </label><input type="date" name="date_début"><input type="date" name="date_fin"></div>
    <div><input type="checkbox" id="organisateur" name="organisateur" /><label for="organisateur">Sorties dont je suis l'organisateur∙trice</label></div>
    <div><input type="checkbox" id="participant" name="participant" /><label for="participant">Sorties auxquelles je suis inscrit∙e</label></div>
    <div><input type="checkbox" id="non_participant" name="non_participant" /><label for="participant">Sorties auxquelles je ne suis pas inscrit∙e</label></div>
    <div><input type="checkbox" id="sorties_passees" name="sorties_passees" /><label for="sorties_passees">Sorties passées</label></div>
        <button class="rechercher" type="button">RECHECHER</button>

    <table>
        <tr>
            <th>Nom de la sortie</th>
            <th>Date de la sortie</th>
            <th>Clôture d'inscription</th>
            <th>Inscrit(s)/Places</th>
            <th>État</th>
            <th>Inscrit</th>
            <th>Organisateur</th>
            <th>Actions</th>
        </tr>
    </table>
    <button href="" class="rechercher" type="button">CRÉER UNE SORTIE</button>






<div >

</div>
{% endblock %}