html,body {
    background: linear-gradient(180deg,rgba(59, 58, 58, 1) 0%, rgba(0, 0, 0, 1) 100%);
    margin: 0;
    padding: 0;
    color:white;
    background: black;
    overflow-x: hidden;
}

body{
    height: 100%;
    color:white;
    background: linear-gradient(180deg,rgba(59, 58, 58, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

main{
    height:100%;
    padding-bottom: 60px;
}

footer{
    position: fixed;
    bottom: 0;
    width:100%;
    background: black;
    color: white;
    text-align: center;
}

header {
    position: relative;
    background-image: url('/images/convivialite.jpg');
    background-size: cover;
    background-position: center;
    height: 20em;
    width: 100%;
    text-align: center;
    color: black;
    overflow: hidden;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    opacity: 0.3;
    z-index: 1;
}

header * {
    position: relative;
    z-index: 2;
}

a{
    text-decoration: none;
    color:white;
}

a:hover{
    font-size: large;
}

h1{
    text-align: center;
}

h1 a:hover{
    font-size: larger;
}


.sortie-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    grid-gap: 10em;
    border: #997404 2px solid;
    border-radius: 15px;
}

input{
    border-radius: 5px;
}

.photo{
    float: right;
    max-width: 40%;
    height: auto;
}

.row{
    margin:1em;
}

section{
    margin: 1em;
}

.larger{
    font-size: 19px;
}


.form-check-input[type="checkbox"]{
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
    position: relative;
}

.form-check-input[type="checkbox"]:checked {
    background-color: rgb(152, 123, 227);
    border-color: rgb(152, 123, 227);
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    color: black !important;
}

.select2-container--default .select2-results__option {
    color: black !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: black !important;
}



