html,body {
    background: linear-gradient(180deg,rgba(59, 58, 58, 1) 0%, rgba(0, 0, 0, 1) 100%);
    margin: 0;
    padding: 0;
    color:white;
    background: black;

}


body{
    height: 100%;
    color:white;
    background: linear-gradient(180deg,rgba(59, 58, 58, 1) 0%, rgba(0, 0, 0, 1) 100%);


}

main{
    height:100%;
    padding-bottom: 60px;
}

footer{
    position: fixed;
    bottom: 0;
    width:100%;

    background: black;
    color: white;
    /*height:5%;*/
    text-align: center;
}

header{
    text-align: center;
    /*height:15%;*/
}

a{
    text-decoration: none;
    color:white;
}

a:hover{
    font-size: large;
}

h1{
    text-align: center;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.sortie-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    grid-gap: 10em;
    border: #997404 2px solid;
    border-radius: 15px;

}

.btnAcc{
    background: rgb(166, 224, 183);
    border-radius: 5px;
    color: black;
}

.btnAcc:hover{
    background: rgb(107, 179, 127);
    color: black;
}


.btnMod{
    background: rgb(227, 98, 98);
    border-radius: 5px;
}

.btnMod:hover{
    background: rgb(213, 59, 59);

}

.btnAdd{
    background: rgb(210, 175, 222);
    border-radius: 5px;
}

.btnAdd:hover{
    background: rgb(173, 126, 194);

}

/*.btn-success{*/
/*    background: rgb(166, 224, 183);*/
/*    color: black;*/
/*}*/

/*.btn-success:hover{*/
/*    background: rgb(107, 179, 127);*/
/*    color: black;*/
/*}*/

.photo{
    float: right;
    max-width: 40%;
    height: auto;
}

.row{
    margin:1em;
}

section{
    margin: 1em;
}

.larger{
    font-size: 19px;
}

.bi-check-circle{
    color:rgb(107, 179, 127);
}

.bi-x-circle{
    color:rgb(227, 98, 98)
}