{% block title %}Création de compte{% endblock %}

{% block body %}
    <p>
        Un compte a été crée:
        Votre email est {{ user.email }}
        Votre mot de passe temporaire est {{ temporaryPassword }}. A CHANGER !!!
    </p>


    <p><a href="https://127.0.0.1:8000/user/confirmed/{{ user.email }}">Pour vous connecter</a>.</p>
{% endblock %}