{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5 text-center">
        <h1>Page introuvable</h1>
        <p>La page que vous cherchez n'existe pas ou a été déplacée.</p>
        <a href="{{ path('sortie') }}" class="btn btn-primary">Retour à l'accueil</a>
    </div>
{% endblock %}
